

body#about {
    overflow-y: hidden;

}
/* Text */
.h1-title {
    font-size: 8rem;
    color: #efffff;
    
   
}
.title-box {
   
    
  
    
}
.header {
   background: transparent;
   position: absolute;
   z-index: 1;
}
.outer-container {

    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
}


.inner-container {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    /* background-image: linear-gradient(to right bottom, #0e0e0f, #181717, #1f1e1e, #272625, #2e2e2d); */
    background: linear-gradient(to bottom, #32373A, #0A0C0F);

}

.slide-1,
.slide-2,
.slide-3,
.slide-4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #efffff;
}


.slide-1 {
    
}

.slide-2 {
   
}
.slide-3 {
   
}
slide-4 {
   
}

.js-slide {
    height: 100vh;
    width: 100vw;

}


::-webkit-scrollbar {
    display: none;
}


/* Images */

.img-box {
    
    width: 400px;
    height: auto;
    object-fit: cover;
    box-shadow: var(--box-shadow);
    opacity: 0.6;
    
}

.content p,
.content ul {
    font-size: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}


.pos-center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; 
}
.white-box {

    width: 50vw;
     
    background: rgba(255, 251, 235, 0.1);
    opacity: 0.2;

}

.container-about {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* Media Query */
@media (max-width:914px){
    .container-about {
        width: 90vw;
    }
    .content p{
        font-size: 2.2rem;
    }
    h2 {
        font-size: 3rem;
    }
}
@media (max-width:552px){
    .content {
        padding: 2rem;
    }
    .container-about {
        width: 100vw;
    }
    .content p{
       font-size: 2rem;
    }
}