/* Updates to Style.css */

h3 {
    font-size: 3.5rem;
    margin: 0;
    margin-bottom: 2rem;
}
.t-1 {
    font-size: 8rem;
}
body,#leagueoflegends {
  
}
.leagueoflegends {
    background: rgba(231, 240, 241, 0.9);
}


#table-of-contents-name {
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 4px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#table-of-contents {
    background: url('../images/background/lol_background_toc.jpg') center center;
    background-size: cover;

  
}
#steam {
    padding: 100px 0;
}
/* Images */
.step-image {
    border: 2px solid white;
    height: 400px;
    width: 400px;
    object-fit: cover;
}
.step-image-wide {
    border: 2px solid white;
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.mb-5 {
    margin-bottom: 5rem;
}
/* Shadow */
.hero-shadow {
    background: linear-gradient(-179deg, rgba(30, 40, 50, 0) 6%, rgba(18, 18, 18, 0.95) 90%);
    height: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.hero-heading {
    position: absolute;
    bottom: 0;
    z-index: 1;
    padding-left: 5rem;
}

.display-1 {
    font-size: 8rem;
}
/* Header */
.header-game {
    background: none;

    
}
.img-header {
   position: relative;

}
.img-header img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    display: block;
}

.navbar {
    position: absolute;
    z-index: 2;
    top: 0;
}

.header-heading {
   position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.header-heading-center {
    justify-content: center;
    align-items: center;
}


.corner {
    width: 0; 
	height: 0; 
	border-right: 1000px solid rgba(3, 3, 3, 0.8);
    border-top: 350px solid transparent;
    opacity: 0.3;
    transition: ease-out 0.5s;

}

.header-text {
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    right: 3%;
    bottom: 3%;
    opacity:  0.3;
    transition: ease-out 0.5s;
}
.header-info {
    color: white;
    font-size: 2rem;
    width: 1200px;
    height: 700px;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    padding: 3rem;
    animation: fadein 1s;
    flex-direction: column;
}

.corner-bg {
    opacity: 1;
    transition: ease-out 0.5s;
    border-right: 1000px solid rgba(0, 0, 0, 0.8);

}


.header-text:hover,
.header-text:focus {
    opacity: 1;
    transition: ease-out 0.5s;
    cursor: pointer;
}
.header-button {
    background: rgba(17, 17, 17, 0.75);
    border: 0;
    width: 20%;
    padding: 15px;
    color: #f4f8ff;
    border-radius: 10px;
    align-self: center;
}

button:hover,
button:focus {
    outline: none;
    cursor: pointer;
}

.display-2 {
    font-size: 3.8rem;
    margin: 0;
    font-weight: 100;
}


.right {
  top: 1px;
}
.head-image{
    height: auto;
    width: 250px;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    bottom: 0;
    padding: 0 0 30px 30px; 
}

.heading-1 {    
    font-size: 5rem;
    color: #f4f8ff;
    font-weight: 100;
    opacity: 0.9;
    vertical-align: middle;
    text-shadow: 5px 5px #000;

}
.heading-2 {
    margin-bottom: 6rem;
    text-shadow: 5px 5px #000;
}
/* animation */
/* Image */
.img-blur {
    filter: blur(8px);
    transition: ease-in-out 1.5s;
}
.img {
    width: 100%;
    border: 3px solid white;
    box-shadow: var(--box-shadow);
    height: 350px;
    object-fit: cover;
    margin-bottom: 2rem;
}
.img-card {
    padding-left: 20px;
    padding-right: 20px;

}
/* Table of Content box */
.table-of-contents {
 
    padding: 3rem;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;

    box-shadow: var(--box-shadow);

    font-family: 'Cabin', sans-serif;
}


.toc-block-text {
    color: #454546;
    font-size: 3rem;
    margin: 0;


}


.toc-block {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    align-items: center;
    justify-content: center;
}

.toc-block:hover {
    text-shadow: 2px 4px #9094b6;
    transition: ease-in 0.2s;
    font-weight: 900;
}

#table{ 
    display: table; 
}
.tr{ 
    display: table-row; 
}
.td{ 
    display: table-cell; }
.one-fifth {
    width: 20%;
}
.text-1 {
    font-size: 3rem;
    color: white;
}
.two-fifth {
    width: 40%;
}
.content-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


#toc-title {

    font-size: 6rem;
    margin: 0;
    color: #212127;
  
}

.toc-block:hover {
  
}
/* sections */
    section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #Prerequisites {
        min-height: 100vh;
    }
    .section {
        min-height: 100vh;
    }
    .text-box{
        border: 4px solid white;
        width: 500px;
        padding: 20px;
        margin-left: 5%;
        margin-bottom: 3rem;
    }
    .text-box h1 {
        font-size: 6rem;
        margin: 0;
    
    }
    #divider {
        margin: 5rem 0;
        border: none;
        height: 3px;
        color: white;
        background: white;
    }

    .half {
        width: 50%;
    }
/* Links */
a {
    color: rgb(52, 84, 134);
}
/*Content */
.one-fourth {
    width: 24.999%;
}

.chalk {
    border: 5px solid #f4f8ff;
    height: 500px;
    flex-direction: column;
    color: white;
}
iframe {
    border: 0;
    border-bottom: 1px solid white;
    margin-bottom: 3rem;
}
/* Container */
.game-container {

    width: 90vw;
    margin-left: auto;  
    margin-right: auto;
}

.game-container-full {



    margin-bottom: 160px;
    display: flex;
}


/* Media Query */

@media (max-width:880px) {
    .table-of-contents {
        width: 80vw;
 
    }

    .toc-block-text {
        font-size: 2rem;
        
    }

    #table-of-contents {
        font-size: 4rem;
    }
    .img-header img {
        height: 50vh;
    }
    .full-md {
        width: 100%;
    }
    .heading-1 {
        font-size: 5rem;
    }
   
}

@media (max-width:533px) {
    #table-of-contents-name {
        font-size: 4rem;
    }
    .table-of-contents {
        padding: 1rem;
    }
    .heading-1 {
        font-size: 3rem;
        text-align: center;
    }

    .img-header img {
        height: 40vh;
    }




}
