@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');
/* Ensures accurate sizing for each container */
:root {
    --bg-color: background: linear-gradient(to top, #2B2B2B, #000000);
    --nav-bar-color:#1b1b1b;
    --white: #f8f8ff;
    --black: #000;
    --text-color:#1b1b1b;
    --border-radius: 20px;
    --bg-white: rgba(255, 255, 255, 0.85);
    --off-white: #f8f8ff;
    --off-white-1: #F3F3FA;
    --hover-color-nav:rgb(47, 57, 100);
    --bg-color-1: #0C121F;
    --img-hero: url("https://images.unsplash.com/photo-1560252719-59e35a3bbc6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    --box-shadow-1: 1px 1px 2px 3px rgba(7, 7, 7, 0.247);
    --box-shadow:  0 0.2rem 0.5rem  rgb(0, 0, 0);
    --box-shadow-1-2: 1px -1px 2px 3px rgb(3, 3, 3, 0.7);
    --hero-shadow: linear-gradient(-179deg, rgba(30, 40, 50, 0) 6%, rgba(18, 18, 18, 0.95) 51%);
    --card-shadow-dark: linear-gradient(-179deg, rgba(23, 23, 23, 0) 6%, rgba(15, 14, 11, 0.8) 82%);
    --card-shadow-pitch-dark-1:  linear-gradient(-179deg, rgba(23, 23, 23, 0) 29%, rgba(6, 36, 49, 0.85) 82%);
    --hero-blue-shadow: linear-gradient(-179deg, rgba(14, 8, 8, 0.9) 15%, rgb(58, 57, 57, 0.25) 75%);
    --card-shadow-pitch-dark: linear-gradient(-179deg, rgba(23, 23, 23, 0) 6%, rgba(0, 0, 0, 0.65) 52%);
    --card-shadow-bright: linear-gradient(-179deg, rgba(10, 10, 10, 0.6) 6%, rgba(242, 242, 242, 0.20) 55%);
    --form-input-bg-color: #0c0a0a;
    --info-card-bg-color: #222222;
    background: #2B2B2B;

}
*, *::before, *::after {
    box-sizing: border-box;
}


html {
  

    font-size: 10px;

    height:100%;
}
body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'B612', sans-serif;
}
body#home,
body#contact {
    background: linear-gradient(to bottom, #32373A, #0A0C0F);
}

body#games {
   
   
    background: linear-gradient(to bottom, #32373A, #0A0C0F);
}


/* Icons */
.fa-bars,
.fa-times {
    color: var(--bg-white);
}


/* Typography */
#logo-title {
    display: inline-block;
    font-size: 3.5rem;
    text-shadow: 4px 3px 5px rgba(0,0,0,0.3);
    text-decoration: none;
    color: var(--white);
    margin-right: 1rem;
    white-space: nowrap;

}

.text-center {
    text-align: center;
}
p {
    margin-top: 0;
    margin-bottom: 3rem;
}
.article-text {
    font-size: 3rem;
    color: var(--off-white);
    margin-left: 5rem;
    line-height: 40px;
}
.display-1 {
    font-size: 6.5rem;
    font-weight: 100;
    color: var(--off-white);
}
.display-2 {
    color: #D1D1DF;

    font-size: 3rem;
}

h1 {
    font-size: 6rem;
    margin-top: 0;
    margin-bottom: 6rem;
    color: var(--off-white);
    font-family: 'News Cycle', sans-serif;
}

.heading-1 {
    text-align: center;
    position: relative; 
    text-shadow: 10px 10px rgba(0,0,0,1);

}

.heading-1:after {
    position: absolute;
    content: '';
    height: 10px;
    bottom: -10px;
    left: 0;
    right: 0; 
    width: 0%;
    background: white;
    margin: 0 auto;
}


.heading-2 {
 
    font-size: 4rem;
    color: var(--off-white);
    margin: 0;
    margin-bottom: 2rem;
    text-shadow: 10px 10px rgba(0,0,0,1);

}
.heading-3 {
    text-align: center;
    font-size: 2.5rem;
}

h2 {
    font-size: 5.5rem;
    line-height: 60px;
    margin-top: 0;
    margin-bottom: 4rem;
    word-break: break-word;
}

.span-h1 {
    font-size: 8rem;
    font-style: italic;
    margin: 0;
}
.pad-6 {
    padding-bottom: 6em;
}

/* Article */
#article {
 

    min-height: 100vh;
}
article {
    font-size: 4rem;
    color: var(--white);
    z-index: 999;
    font-family: 'News Cycle', sans-serif;
    padding-bottom: 6em;
}

/* Hero Display */
.hero-display {

    margin: 0;
 
}
.hero-display img {
    
    object-fit: cover;
    width: 100%;
    height: 70vh;
    display: block;
}
.hero-display .hero-heading{
    position: absolute;
    padding: 0 0 6rem 8rem;
    bottom: 0;
    z-index: 1;
}
.hero-body {
   position: relative;

}
.hero-shadow {
    background: var(--hero-shadow);
    height: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.hero-shadow-blue {
    background: var(--hero-blue-shadow);
    height: 100%;
    position: absolute;
    width: 100%;

    z-index: 1;

}
.steam-bg {
    background: rgb(7, 11, 31);
}
.microsoft-bg {
    background: rgb(7, 82, 95);
}
.epic-bg {
    background: rgb(17, 17, 17);
}
/* Header */
.header {
    overflow: hidden;
    position: relative;
    width: 100%;    
    background: transparent;
    z-index: 999;

}
/* Navbar */
.navbar {
    font-family: 'Play', sans-serif;
    display: flex;
    align-items: center;
    height: 85px;
    justify-content: center;
    width: 100%;
    z-index: 998;
}

.nav-fixed {
    position: absolute;
    z-index: 2; 
    top: 0;
}




/* Navlinks */
.navlinks {
    display: flex;
}
#navlinks {

    font-size: 2rem;
    list-style: none;
}
.navlinks a.active::before {
    opacity: 1;
    height: 3px;
    content: "";
    position: absolute;
    background-color: white;
    width: 100%;
    bottom: -7px;
    
}
.navlinks li a {
    margin: 0 3rem;
    position: relative;
}

.navlinks li a::before {
    opacity: 0;
    height: 3px;
    content: "";
    position: absolute;
    background-color: white;
    width: 0%;
    bottom: -7px;
    transition: ease-in-out 0.5s;
}

#navlinks li a {
    text-decoration: none;
    color: var(--white);
    display: inline-block;
   
}

.navlinks li a:hover::before {
    opacity: 1;
    width: 100%;
}

#navlinks li a:hover {
  
    filter: brightness(1.2);
    transition: ease-in-out 0.2s;
  
}
a {
    text-decoration: none;
  
}
.mobile-button {
    display: none;
}

/* SideBar */
.sidebar .active {
    background: var(--bg-color);
}
.sidebar {
    padding: 0;
    margin: 0;
    font-size: 2rem;
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #32373A, #0A0C0F);
    transition: all 0.5s;
    box-shadow: 1px 2px 2px 3px rgba(0,0,0,1);
    display: flex;
    flex-direction: column;
    padding-top:60px;
}
.sidebar li {
    height: 60px;
    line-height: 60px;
}
.sidebar li a{
    width: 100%;
    padding-left: 65px;
 
}



.hide {
    z-index: -1;
}


.mobile-close {
    position: absolute;
    top: 10px;
    right: 15px;
}
.d-none {
    display: none;
}
/* Container */
.container {
    margin-top: 150px;
    margin-bottom: 150px;
    width: 90vw;
    margin-left: auto;  
    margin-right: auto;
    margin-bottom: 160px;
    display: flex;
}

.container-full {
    margin: 50px auto;
    width: 90vw;
}
.container-home {
    margin-top: 150px;
    margin-bottom: 150px;
    width: 90vw;
    margin-left: auto;  
    margin-right: auto;
    margin-bottom: 160px;
}
.box {
    width: 100%;
    height: 1000px;
    border: 1px solid white;
    position: relative;
}
.box:after {
    content:"";
    position:absolute;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.row-center {
    justify-content: center;
}


.col-left,
.col-right {
    min-height: 500px;
    padding: 40px;
 

}
.content {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    white-space: 2px;
}


.content-icon-container {
    display: flex;
    justify-content: center;
}

.col-both {
  
    width: 100%;
    min-height: 500px;
    padding: 4rem;
}

.content-icon {
    width: 23%;
}
.img-row {
    display: flex;
    justify-content: space-around;
}
.content-icon-half {
    width: 40%;
}


.one-third {
    width: 33.33333%;
}

.two-third {
    width: 66.6666%;
}

.full {
    width: 99.999%;
}

.one-half {
    width: 49.9999%;
}
.one-fourth {
    width: 24.999%;
}
.tall {
    min-height: 600px;
}

.short {
    min-height: 400px;
}

.no-space {
    margin: 0;
}

/* Card in Container */
.card-bg-steam {
    background: url(../images/background/steam.jpg) no-repeat center; 
    background-size: cover;
    border: 3px solid white;
}

.card-bg-league {
    background: url(../images/background/league_of_legends.jpg) no-repeat center center; 
    background-size: cover; 
    border: 3px solid white;
}

.card-bg-cs_go {
    background: url(../images/background/cs_go.jpg) no-repeat center center; 
    background-size: cover;
    border: 3px solid white;
}

.card-bg-osrs {
    background: url(../images/background/osrs.jpg) no-repeat center center; 
    background-size: cover;
    border: 3px solid white;
}
.card-bg-blade_and_soul {
    background: url(../images/background/blade_dancer_02_wide_2880x1800.jpg) no-repeat center;
    background-size: cover;
    border: 3px solid white;
}
.card-bg-dfo {
    background: url(../images/background/dfo.jpg) no-repeat center; 
    background-size: cover;
    border: 3px solid white;
}
.card-bg-genshin {
    background: url(../images/background/genshin.jpg) no-repeat center; 
    background-size: cover;
    border: 3px solid white;
}

.card-bg-win-10 {
    background: url(../images/background/windows_10.jpg) no-repeat center; 
    background-size: cover;
}
.card-bg-mac {
    background: url(../images/background/mac.jpg) no-repeat center; 
    background-size: cover;
}
.card-small {
    height: 500px;
}
.card-body-1 {
    font-size: 2rem;
    color: var(--off-white);
    padding: 20px;
}

.card-body {
    display: none;
  

}
.title-1 {
    font-size: 7rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-shadow: 
    0 0 5px #dbdbdb,
    0 0 10px #dbdbdb,
    0 0 20px #dbdbdb,
    0 0 40px #dbdbdb,
    0 0 80px #dbdbdb,
    0 0 90px #dbdbdb,
    0 0 100px #dbdbdb,
    0 0 150px #dbdbdb;
}
.card-text-1 {
    text-decoration: none;
}
.card-text {
    padding: 20px;
    position: absolute;
    font-size: 2rem;
    color: var(--off-white);
    z-index: 2;

}
.card-text li {
    margin-bottom: 2rem;
}
.card-1:hover .card-body {
    display: block;
    transition: ease-in 1s;

}
.card-shadow {
    z-index: 1;
    height: 100%;
    position: absolute;
    width: 100%;
    opacity: 0.85;
    background: rgb(7, 8, 8);
    animation: shadowFade ease-in 0.5s;
    
}

.card-img {
  width: 80%;
  height: auto;
}

.card-img-large {
    width: 55%;
    height: auto;
}

.card-logo {

  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.info-card {
    display:none;
    background-color: var(--info-card-bg-color);
}

.card {
    
    margin: 10px;
    position: relative;
    background-color: var(--info-card-bg-color);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;

}
.card-1 {
    margin: 10px;
    position: relative;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    margin-bottom: 85px
}
.card-1 img {
    max-width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
    position: relative;
}
.no-shadow {
    box-shadow: none;
}

.white-bg {
    background: rgb(7, 18, 27);
 
}
/* Shadows */
.card-shadow-dark {
    background: var(--card-shadow-dark);
    height: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.card-shadow-pitch-dark {
    background: var(--card-shadow-pitch-dark);
    height: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.card-shadow-pitch-dark-1 {
    background: var(--card-shadow-pitch-dark-1);
    height: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.card-shadow-bright{
    background: var(--card-shadow-bright);
    height: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.card:hover {
    
    transform: scale(1.02);
    z-index: 998;
    transition: ease-out 0.2s;
}

.card:hover div:first-child {
    display: flex;
    animation: fadein 1s;
}

/* white-box */
.white-container {
    position: absolute;
    width: 300px;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    opacity: 0.03;

}
.right {
    right: 50%;
}
.left {
    left: 50%;
}

/* Animations */


.fadein {
    animation: fadein 1s;
}
@keyframes fadein {
   from {
       opacity: 0   ;
   }
   to {
       opacity: 1;
   }
}
@keyframes fadeinout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes shadowFade {
    0% {
        opacity: 0;
    }
    85% {
        opacity: 0.85;
    }
}

.blink {
    animation: blink 1s linear infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

.hidden {
 
    opacity: 0;
}   



/* Contact Form */
.contact-form-container {
    
    font-family: 'Space Mono', monospace,sans-serif;
    font-size: 3rem;
    margin: 100px auto;
    color:var(--off-white);
    width: 800px;
 
}
input[type='submit'] {
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--form-input-bg-color);
    font-size: 3rem;
    color: var(--off-white);
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    position: relative;

}

input[type='submit']:hover {
    background: #2b2b2b;
}
input[type='submit']:active {
    top: -2px;
}

input:valid {
   
}

.form-box label {
    min-width: 200px;
}
textarea {
    resize: none;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    background: var(--form-input-bg-color);
    font-size: 3rem;
    color: var(--off-white);
    border: 1px solid var(--off-white);
    min-width: 400px;
    border-radius: 20px;
    padding: 1.5rem;
    
}
.form-box {
    display: flex;
    margin-bottom: 4rem;
}

.contact-form input:hover,
.contact-form input:active,
.contact-form input:focus, 
.contact-form textarea:hover,
.contact-form textarea:active,
.contact-form textarea:focus{
    outline: none;

}

/* Table */
.table {
    display: table;
}
.table-row {
    display: table-row;
}


/* Footer */
#footer {
    padding: 10px 30px;
    width: 100%;
    font-size: 2rem;
    background: var(--nav-bar-color);
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer-inner {
    color: var(--white);

}


/* Media Query 1040px */
@media (max-width: 1040px) {

    article p {
        font-size: 3rem;
    }
    .display-1 {
        font-size: 4rem;
    }

    .navlinks {
        display: none;
    }
  
    #logo-title {
        left: 50%;
        position: absolute;
        transform: translate(-50%);
    }
    .mobile-button {
        display: block;
    }
    .navbar {
        justify-content: start;
        padding: 0 20px;
    }   
    .hero-display img {
        height: 450px;
    }
    
   article h2 {
       font-size: 4.5rem;
   }
   .card {
       height: 100vh;
      
   }
  
    
    .container {
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        border: none;
        margin: 0;
    }

    .content-card {
        width: 100%;
    }
    .border-right-black {
        border: none;
    }
 
  
    .form-box {
        flex-direction: column;
    }
    .contact-form-container {
        width: 90vw;
     
    
    }
    input[type='email'],
    input[type='text'],
    textarea {
        width: 100%;
    }

    .contact-form-container h1 {
        font-size: 5rem;
    }
    .contact-form-container {
        font-size: 2.5rem;
    }
    #footer {
        display: none;
    }
}




/* Media query (676px) */
@media (max-width: 676px) {

   .content {
       flex-basis: unset;
       font-size: 1.6rem;
       
   }
  
   .content-icon {
       width: 20%;
   }

  .span-h1 {
      font-size: 5rem;
  }
  .sidebar {
      width: 100%;
  }
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
     min-width: unset;
     width: unset;
  }

.contact-form-container h1 {
    font-size: 4.2rem;
}
.contact-form-container {
    font-size: 2.3rem;
    margin-bottom: 0;
}
.hero-display .hero-heading {
    padding: 0 0 5rem 4rem;
}
.card {

   height: 300px;
}
.content-card {
    margin-bottom: 5rem;
}

article p{
    font-size: 2.5rem;
}

.display-1 {
    font-size: 3rem;
}
.display-2 {
    font-size: 2rem;
}

.hero-display img{
    height: 300px;
  
}

.hero-display .hero-heading {
    padding: 0 0 2rem 3rem;
}

}


